@model WebApplication34.Data.OriginalListing

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Thông tin gốc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmndNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmndNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CmndIssueDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CmndIssueDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStockDeposited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStockDeposited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStockNotDeposite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStockNotDeposite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStockTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStockTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividendDeposited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividendDeposited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividendNotDeposite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividendNotDeposite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividendTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividendTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxDeposited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxDeposited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxNotDeposite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxNotDeposite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividendReceivedDeposited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividendReceivedDeposited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividendReceivedNotDeposite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividendReceivedNotDeposite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DividendReceivedTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DividendReceivedTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignmentOrganization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignmentOrganization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Txnum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Txnum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Batch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Batch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
