@model IEnumerable<WebApplication34.Data.OriginalListing>

@{
    ViewData["Title"] = "View";
}

<h1>Danh sách</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmndNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmndIssueDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberStockDeposited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberStockNotDeposite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberStockTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DividendDeposited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DividendNotDeposite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DividendTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxDeposited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxNotDeposite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DividendReceivedDeposited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DividendReceivedNotDeposite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DividendReceivedTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignmentOrganization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Txnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CmndNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CmndIssueDay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberStockDeposited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberStockNotDeposite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberStockTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DividendDeposited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DividendNotDeposite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DividendTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxDeposited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxNotDeposite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DividendReceivedDeposited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DividendReceivedNotDeposite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DividendReceivedTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignmentOrganization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Txnum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Batch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateBy)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
