@model WebApplication34.Models.ReportByYearListVM
@{
    ViewData["Title"] = "Index";
}

<h1>Báo cáo tổng hợp</h1>
<h3>Đã chi</h3>
<table class="table table-hover">
    <thead>
        <tr>

            <th scope="col">Tiền mặt/số cổ đông</th>
            <th scope="col">Chuyển khoản/số cổ đông</th>
            <th scope="col">Tổng tiền/số cổ đông</th>
            <th scope="col">Năm</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.PaidReport)
        {

        <tr>
            <td>@item.tienMat_tien.Value.ToString("N0")đ / @item.tienMat_cd.Value.ToString("N0") cổ đông</td>
            <td>@item.chuyenKhoan_tien.Value.ToString("N0")đ / @item.chuyenKhoan_cd.Value.ToString("N0") cổ đông</td>
            <td>@item.tong_tien.Value.ToString("N0")đ / @item.tong_cd.Value.ToString("N0") cổ đông</td>
            <td>@item.Year</td>
        </tr>
        }

    </tbody>
</table>

<hr />
<h3>Còn lại</h3>
<table class="table table-hover">
    <thead>
        <tr>

            <th scope="col">Tiền mặt/số cổ đông</th>
            <th scope="col">Chuyển khoản/số cổ đông</th>
            <th scope="col">Tổng tiền/số cổ đông</th>
            <th scope="col">Năm</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.RemainReport)
        {

        <tr>
            <td>@item.tienMat_tien.Value.ToString("N0")đ / @item.tienMat_cd.Value.ToString("N0") cổ đông</td>
            <td>@item.chuyenKhoan_tien.Value.ToString("N0")đ / @item.chuyenKhoan_cd.Value.ToString("N0") cổ đông</td>
            <td>@item.tong_tien.Value.ToString("N0")đ / @item.tong_cd.Value.ToString("N0") cổ đông</td>
            <td>@item.Year</td>
        </tr>
        }

    </tbody>
</table>